<div class="row">
    
      <kendo-splitter orientation="horizontal" style="height: 220px;">      
          <kendo-splitter-pane>          
              <kendo-tabstrip>
                <kendo-tabstrip-tab [title]="'Contratos por sociedad'" [selected]="true" >
                  <ng-template kendoTabContent>                  
                         
                      <div class="row">
                        <legend>Filtros 1</legend>
                          <div class="col">
                            <label [for]="datepicker">DatePicker: </label>
                            <kendo-datepicker #datepicker></kendo-datepicker>
                          </div>
                     
                         <div class="col">
                            <legend>Filtros 2</legend>
                           <label [for]="'input'">Input: </label>
                           <input id="input" />
                         </div>
                         <div class="col">
                            <legend>Filtros 3</legend>
                            <label [for]="'input'">Input: </label>
                            <input id="input" />
                          </div>
                       </div>
                        
                  </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Contrato puntual'">
                  <ng-template kendoTabContent>
                    <p>
                        Football is a family of team sports that involve, to varying degrees, kicking a ball with the foot to score a goal. Unqualified, the word football is understood to refer to whichever form of football is the most popular in the regional context in which the word appears.
                    </p>
                  </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Historial por contratos'">
                  <ng-template kendoTabContent>
                    <p>
                      Football is a family of team sports that involve, to varying degrees, kicking a ball with the foot to score a goal. Unqualified, the word football is understood to refer to whichever form of football is the most popular in the regional context in which the word appears.
                    </p>
                  </ng-template>
                </kendo-tabstrip-tab>           
              </kendo-tabstrip>
          </kendo-splitter-pane>          
      </kendo-splitter>
</div>