<div class="row" id="filter" style = "box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">    
      <kendo-splitter orientation="horizontal">      
          <kendo-splitter-pane>          
              <kendo-tabstrip style = "height:225px;">
                <kendo-tabstrip-tab [title]="'Contratos por sociedad'"   [selected]="true" >
                  <ng-template kendoTabContent>                  
                         
                      <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-block">
                                    <form class="k-form formfilter">                                          
                                          
                                          <label class="k-form-field">
                                              <label [for]="Society">Society: </label>
                                              <kendo-dropdownlist class="inp" [data]="listItems">
                                                </kendo-dropdownlist>   
                                          </label>
                                          <label class="k-form-field">
                                              <span>Nro Contrato</span>
                                              <input class="k-textbox inp" placeholder="Desde" />
                                              <input class="k-textbox inp" placeholder="Hasta" />
                                          </label>                                                
                                                                                              
                                                                        
                              </form>
                              </div>
                              </div>
                         
                         </div>
                         <div class="col-4">
                            <div class="card">  
                                <div class="card-block"> 
                                    <form class="k-form formfilter">                                                   
                                                                                                             
                                           <label [for]="datepicker">Fecha de liberación: </label>
                                           
                                           <kendo-datepicker #datepicker placeholder="Desde"></kendo-datepicker>                                                         
                                            
                                           <kendo-datepicker #datepicker placeholder="Hasta"></kendo-datepicker> 
                                           </form>                            
                                 </div>
                            </div>
                            </div>
                            <div class="col-4">
                                <div class="card">                                                    
                                                                                                               
                                                <div class="text-right">
                                                    <button type="button" class="k-button">Buscar</button>
                                                    <button type="button" >Exportar</button>
                                                    <button type="button" >Limpiar</button>
                                                  </div>                                                        
                                          
                                </div>
                                </div>
                      </div>
                      
                  

                  </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Contrato puntual'">
                  <ng-template kendoTabContent>
                    <p>
                        Football is a family of team sports that involve, to varying degrees, kicking a ball with the foot to score a goal. Unqualified, the word football is understood to refer to whichever form of football is the most popular in the regional context in which the word appears.
                    </p>
                  </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Historial por contratos'">
                  <ng-template kendoTabContent>
                    <p>
                      Football is a family of team sports that involve, to varying degrees, kicking a ball with the foot to score a goal. Unqualified, the word football is understood to refer to whichever form of football is the most popular in the regional context in which the word appears.
                    </p>
                  </ng-template>
                </kendo-tabstrip-tab>           
              </kendo-tabstrip>
          </kendo-splitter-pane>          
      </kendo-splitter>
</div>