.mat-form-field.mat-form-field {
    width: 100%;
  }


  fieldset {
    height: 150px;
}


.mat-expansion-panel-header-title
{
    color:white;
}

.headers-align .mat-expansion-panel-header-title, 
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-chip {
  max-width: 200px;
}

.floatbtn {
  top: auto;
right: 45px;
bottom: 15px;
left: auto;
position: fixed;
z-index: 1;
}