<kendo-grid
        [height]="400"
        [data]="gridData"        
           
        [sortable]="true"            
        (dataStateChange)="dataStateChange($event)"  
        (detailExpand)="getDetail($event)"           
    >
    <kendo-grid-column field="NroPedido" title="Nro de Pedido" width="30"  [filterable]="false">
    </kendo-grid-column>
    <kendo-grid-column field="Sociedad" width="80" title="sociedad">
    </kendo-grid-column>
    <kendo-grid-column field="Comprador" title="Comprador" width="60">
    </kendo-grid-column>  
    <kendo-grid-column field="FechaCreacion" title="Fecha creación" width="45" filter="date" format="{0:d}">   
    </kendo-grid-column>
    <kendo-grid-column field="Importe" title="Importe" width="30">
      </kendo-grid-column>
    <kendo-grid-column field="CondPago" title="Condición de pago" width="50">
    </kendo-grid-column>  
    <kendo-grid-column field="FechaIni" title="Fecha inicio de validez" width="45"  format="{0:d}">
    </kendo-grid-column>  
    <kendo-grid-column field="FechaFin" title="Fecha fin de validez" width="45"  format="{0:d}">
    </kendo-grid-column>  
    <kendo-grid-column field="OC" title="O.C." width="30" >
            <ng-template kendoGridCellTemplate let-dataItem>
                   <button (click)="getpdf(dataItem.OC)"  class="k-icon k-i-file-pdf"></button>
        
                    <style>
                        .k-i-file-pdf:before {
                            content: "\e90e"; /* Adds a glyph using the Unicode character number */
                            color:red;
                        }
                    </style>
                </ng-template>      
    </kendo-grid-column>      
    <kendo-grid-column field="version" title="Version" width="45"  format="{0:d}">
        </kendo-grid-column>  
    <ng-template kendoGridDetailTemplate let-dataItem                   
              width="30">
           <app-detailgrid></app-detailgrid>      
    </ng-template>   
    </kendo-grid>
