<kendo-grid [data]="gridDataDetail">
  <kendo-grid-column field="Position" title="Pos" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="History" title="Hist" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="Material" title="Material">
  </kendo-grid-column>
  <kendo-grid-column field="Description" title="Description" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="Quantity" title="Quantity" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="CantUM" title="CantUM" width="120">    
  </kendo-grid-column>  
  <kendo-grid-column field="Price"  width="120">
  </kendo-grid-column>
  <kendo-grid-column field="Currency"  width="120">
  </kendo-grid-column>
  <kendo-grid-column field="ArticleGroup"  width="120">
  </kendo-grid-column>
  <kendo-grid-column field="Serv"  width="120">
  </kendo-grid-column>

</kendo-grid>