<kendo-grid [data]="gridDataDetail"
   >
  <kendo-grid-column field="Position" title="Pos" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="SubPosition" title="SubPos" width="60">
  </kendo-grid-column>
  <kendo-grid-column field="History" title="Hist" width="100">
  </kendo-grid-column>
  <kendo-grid-column field="Material" title="Material" width="50">
  </kendo-grid-column>
  <kendo-grid-column field="Description" title="Description" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="Quantity" title="Quantity" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="CantUM" title="CantUM" width="40">    
  </kendo-grid-column>  
  <kendo-grid-column field="Price"  width="40">
  </kendo-grid-column>
  <kendo-grid-column field="Currency"  width="40">
  </kendo-grid-column>
  <kendo-grid-column field="ArticleGroup"  width="50">
  </kendo-grid-column>
  <kendo-grid-column field="Serv"  width="40">
  </kendo-grid-column>
  <ng-template kendoGridDetailTemplate let-dataItem                        
  width="30">
 <app-subdetailgrid></app-subdetailgrid>
</ng-template>  
</kendo-grid>